html{
    background-color: mediumturquoise;
}
img{
    height: 400px;
    width: 400px;        
}
.header{
    display: flex;
    justify-content: center;
    background-color: palegreen;
}
.footer{
    background-color: lavenderblush;
} 
.subh{
    display: flex;
    justify-content: center;
    font-size: 23px;
}
.images img{ 
    box-shadow: inset 10px 5px 25px 5px black, 5px 5px 12px 2px black;
    border-radius: 50%;
    width: 32vw;
    height: 58vh;
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid rgb(19, 40, 230);
    background-color: rgba(6, 143, 177, 0.87);
    margin: 40px;
}
ul a li{
   list-style: none;
   margin: 6px;
   float: right;
}
ul a li:hover{
    color: yellow;
    padding: 3px 4px 3px;
    text-decoration: none;
}
#logo{
    background-color: brown;
    display: flex;
    justify-content: space-around;
}
.icons{
    font-size: 45px;
     display: flex;  
     flex-direction: row-reverse;  
     justify-content: space-evenly;  
     
}
.facebook {
    color: blue;
}
.github{
    color:rgb(99, 112, 99);   
}
.twitter{
   color: rgb(16, 147, 235);
}
.instagram{
    color: salmon;
}
.inline{
    display: flex;
    justify-content: flex-end;
}
.fweb  {
    font-size: 25px;
} 
.travel  {
    font-size: 25px;
}
.newup {
    font-size: 25px;
}
.myre {
    font-size: 25px;
}
.container{
    display: flex;
    align-items: center;
}
.about{
    position: relative;
    float: right;
    margin-right: 20vh;
    margin-top: 20vh;
    width: 100vh;
}
.facebook:hover{
     color:greenyellow;
}
.twitter:hover{
  color: palevioletred;
}
.github:hover{
    color: green;
}
.instagram:hover{
    color: brown;
}
.myport img{
    height: 24vh;
    width: 23vw;
}
.hlogo img{
    height: 15vh;
    width: 10vw;
    margin: 20px;
}
.projects{
    font-size: 30px;
    margin: 36px;
    margin-top: -75vh;
}
.prologo img{
    margin-top: -75vh;
}
a{
    text-decoration: none;
}
.button{
    background-color: lightcoral;
}
.button :hover{
    color:gold;
}
