html{
    background-color: mediumturquoise;
}
img{
    height: 400px;
    width: 400px;        
}
.header{
    display: flex;
    justify-content: center;
    background-color: palegreen;
    
}
.web{
    display: flex;
    justify-content: center;
    background-color: grey;
}
.footer{
    background-color: lavenderblush;
}
.button a{
    color:blue;
    box-shadow: silver;
    padding: 5px 3px 5px 4px;
    border: slateblue;
}
.button a:hover{
    color: deeppink;
    /* background-color: slateblue; */
    padding-left: unset;

}
.subh{
    display: flex;
    justify-content: center;
    font-size: 23px;
    /* background-color: forestgreen; */
}

.images img{ 
    box-shadow: inset 10px 5px 25px 5px black, 5px 5px 12px 2px black;
    border-radius: 50%;
    width: 32vw;
    height: 58vh;
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid rgb(19, 40, 230);
    background-color: rgba(6, 143, 177, 0.87);
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
ul li:hover{
    color: yellow;
    padding: 3px 4px 3px;
    justify-content: flex-start;
}
/* #logo{
    height: 2vh;
    width: 3vw;
} */